<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title> - King For A Day!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/siimple.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/plume.min.css}" type="text/css">
</head>

<body>
    <div class="plume plume--js">
        <div layout:replace="admin/layouts/header"></div>
        <div class="plume-content" layout:fragment="content"></div>
        <div layout:replace="admin/layouts/footer"></div>
    </div>
</body>
<script>!function(){"use strict";!function(e){if("loading"!==document.readyState)return e(null);document.addEventListener("DOMContentLoaded",function(t){if("loading"!==document.readyState)return e(t)})}(function(){var e="plume--closed",t="plume-toggle",n="."+"plume"+"."+"plume--js",l=document.querySelectorAll(n);if(0!==l.length){if(l.length>1)throw new Error("Only one plume class is allowed");var o=l[0],r=o.querySelectorAll("."+t);if(1!==r.length)return null;var u=function(){o.classList.toggle(e),window.localStorage.setItem("plume-closed",o.classList.contains(e))};r[0].addEventListener("mousedown",function(e){return e.preventDefault(),u()}),r[0].addEventListener("touchstart",function(e){return e.stopPropagation(),e.preventDefault(),u()}),"true"===window.localStorage.getItem("plume-closed")&&o.classList.add(e)}})}();</script>

</html>
