<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" view="home" layout:decorator="admin/layouts/default">
<head>
    <title>首页</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/siimple.min.css}" type="text/css">
    <!-- SUPPORT SUKURA CSS , IT'S A FANCY PROJECT. https://github.com/oxalorg/sakura -->
</head>
<body layout:fragment="content">
<div class="siimple-jumbotron siimple-jumbotron--orange siimple-jumbotron--fluid">
    <div class="siimple-jumbotron-title">Welcome page</div>
    <div class="siimple-jumbotron-subtitle">This is the subtitle</div>
    <div class="siimple-jumbotron-detail">And this is the detail of the jumbotron element</div>
</div>
<div class="siimple-grid">
    <div class="siimple-grid-col siimple-grid-col--4" th:each="t,i : ${ts}" th:if="${i.index<3}">
        <div class="siimple-box">
            <div class="siimple-box-title"><a th:text="${t.name}" th:href="${'/'+t.category.alias+'/'+t.id}">文章名</a></div>
            <div class="siimple-box-subtitle"><a th:text="${t.category.name}" th:href="${'/'+t.category.alias}">专栏标题</a></div>
            <div class="siimple-box-detail" th:text="${t.latestPublished.summary}">This is the box detail text</div>
        </div>
    </div>
</div>
<!--<div id="column" th:each="c : ${ct}">-->
<!--<h2>-->
<!--<a th:text="${c.getKey().name}" th:href="${'/'+c.getKey().alias}">专栏标题</a>-->
<!--</h2>-->
<!--<li th:each="t : ${c.getValue()}">-->
<!--<a th:text="${t.name}" th:href="${'/'+c.getKey().alias+'/'+t.id}">文章名</a>-->
<!--</li>-->
<!--</div>-->

</body>
</html>
