<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/layouts/default.html}">
<head>
    <title>这里到2035年都不会通轨交，你来干嘛！</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body layout:fragment="content">
<section class="hero is-info is-fullheight">
    <div class="hero-body ">
        <div class="container">
            <h1 class="title">
                400 : <a href="http://blog.sina.com.cn/s/blog_501254d201009t3r.html">Die Freikörperkultur (FKK)</a>
            </h1>
            <h2 class="subtitle">
                Die Freikörperkultur (FKK) bezeichnet die gemeinschaftliche Nacktheit, vielfach im Freien, aber auch in Gebäuden .
            </h2>
            <a href="/"><img src="/assets/images/fkk.jpg"></a>
        </div>
    </div>
</section>
</body>
</html>
