<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/layouts/default.html}">
<head>
    <title th:text="${c.name}">标题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body layout:fragment="content">
    <div class="siimple-jumbotron sd-header siimple-jumbotron--large">
        <div class="siimple-jumbotron-title" th:text="${c.name}">Welcome to the mirror of escapar.org</div>
        <!--<div class="siimple-jumbotron-subtitle">This is a CMS Demo.</div>-->
        <!--<div class="siimple-jumbotron-detail">And all pages are back-end generated.</div>-->
    </div>
    <div class="sd-main siimple-content--large">
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <a th:each="t : ${topics}" th:href="${'/topic/'+t.name}" style="height:340px;text-decoration: unset;" class="siimple-card siimple-grid-col siimple-grid-col--4 siimple-grid-col--sm-12 siimple-grid-col--lg-6" >

                    <div class="siimple-card-body siimple--height-100" >
                        <div th:text="${t.latestPublished.title}" class="siimple-card-title">
                            Card header
                        </div>
                        <div class="siimple-card-subtitle" th:text="${#strings.arrayJoin(t.tags,', ')}">Special card subtitle</div>
                        <div class="sd-examples-card-image" th:style="${'background-image:url('+t.latestPublished.thumbnail+');'}"></div>

                        <span th:text="${#strings.abbreviate(t.latestPublished.summary,70)}" ></span>
                    </div>

                </a>

            </div>
        </div>
    </div>


</body>
</html>
