<!DOCTYPE HTML>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{site/layouts/default.html}">
<head>
    <title th:text="${c.name}">标题</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body layout:fragment="content">
    <section class="hero is-link is-small">
        <div class="hero-body">
            <div class="container">
                <div class="is-content">
                    <h1 class="title" th:text="${c.name}">
                        escapar.org
                    </h1>
                    <h2 class="subtitle">
                        <!--Trade this life for something new.-->
                    </h2>
                </div>
                <div class="intro-column is-content">

                </div>

            </div>
        </div>
    </section>

    <div class="category-container">
        <div class="bd-main-container container ">
            <div class="columns is-multiline is-8">
                <a th:each="t : ${topics}" th:href="${'/topic/'+t.name}" style="text-decoration: unset;" class="column is-one-third-desktop is-full-mobile is-half-tablet is-full-touch is-flex " >


                    <div class="card has-border-radius">
                        <div class="card-image">
                            <figure class="image is-2by1">
                                <img class="has-border-radius has-padding-3" th:src="${t.latestPublished.thumbnail}" />
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p th:text="${t.latestPublished.title}" class="title is-4">John Smith</p>
                                    <p th:text="${#strings.arrayJoin(t.tags,', ') + ' | ' + #dates.format(t.createdAt.toInstant(), 'yy-MM-dd')}" class="list-page subtitle is-6">@johnsmith</p>
                                </div>
                            </div>

                            <div class="content">
                                <span th:text="${#strings.abbreviate(t.latestPublished.summary,150)}">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris.
                                </span>
                            </div>
                        </div>
                    </div>

                </a>

            </div>
            <hr>
            <div th:if="${page.getTotalPages() > 1}"sd:pagination="full-static"></div>
        </div>
    </div>


</body>
</html>
