<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title> - escapar!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!--<link rel="stylesheet" th:href="@{/assets/css/bulma/css/bulma.min.css}" type="text/css">-->
    <link rel="stylesheet" th:href="@{/assets/css/bulma/css/bulma-docs.min.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/assets/css/cms.css}" type="text/css">

</head>

<body>
<header layout:replace="~{site/layouts/header.html :: nav}"></header>
<div layout:fragment="content"></div>
<footer layout:replace="~{site/layouts/footer.html :: copy}"></footer>
</body>
<script>
  function getAll(selector) {
    return Array.prototype.slice.call(document.querySelectorAll(selector), 0);
  }

  var $burgers = getAll('.burger');

  if ($burgers.length > 0) {
    $burgers.forEach(function ($el) {
      $el.addEventListener('click', function () {
        var target = $el.dataset.target;
        var $target = document.getElementById(target);
        $el.classList.toggle('is-active');
        $target.classList.toggle('is-active');
      });
    });
  }
</script>
</html>
