<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title> - escapar!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" th:href="@{/assets/css/sakura.min.css}" type="text/css">
</head>

<body>
<header layout:replace="site/layouts/header"></header>
<div layout:fragment="content"></div>
<footer layout:replace="site/layouts/footer"></footer>
</body>

</html>
