<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html>
    <footer class="footer" layout:fragment="copy" >
        <div class="content has-text-centered" >
            <div class="bd-footer-title">
                <div>
                    <a href="https://github.com/POJOa/leyline_cms" class="sd-footer-logo" target="_blank"></a>
                </div>
            </div>
            <p>

                    Designed, built and maintained with love by <a href="https://escapar.org" class="sd-footer-link" target="_blank"><strong>escapar</strong></a>. Powered by Bulma and Spring Boot <br>
                    <small>Icons made by <a href="http://www.freepik.com" class="sd-footer-link" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"  class="sd-footer-link" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" class="sd-footer-link" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small><br>
            </p>

        </div>
    </footer>
</html>
