<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html>
    <div class="siimple-footer sd-footer siimple-footer--large" align="center" layout:fragment="copy" >
        <div align="center">
            <a href="https://github.com/POJOa/leyline_cms" class="sd-footer-logo" target="_blank"></a>
        </div>
        <div class="sd-footer-credits">
            Designed, built and maintaned with love by <a href="https://escapar.org" class="sd-footer-link" target="_blank">escapar</a>. Powered by siimple and Spring Boot <br>
            <div>Icons made by <a href="http://www.freepik.com" class="sd-footer-link" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"  class="sd-footer-link" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" class="sd-footer-link" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div><br>

            <small><a href="https://masseffect.wikia.com/wiki/Captain_Kirrahe" class="sd-footer-link" target="_blank"><strong>Hold The Line</strong></a>. - Captain Kirrahe</small>
            <div width="30%" class="siimple-rule"></div>

        </div>
    </div>
</html>
