<!DOCTYPE html>
<html>
    <header id="site-header">
        <h1 id="logo" align="center"><a href="/static/">escapar</a></h1>
        <div id="static-cat" align="center">
                <span th:each="c : ${menuCategories}">
                    <a th:text="${c.name}" th:href="${'/static/'+c.alias}">静态页专栏名</a>
                    <span> | </span>
                </span>
            <span><a href="https://weibo.com/pojorz">Weibo</a><span> | </span></span>
            <span><a href="https://twitter.com/escapar2000">Twitter</a></span>
        </div>
    </header>
</html>
