<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<html>
    <nav layout:fragment="nav"  class="navbar is-info is-spaced">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item escapar-logo" href="/">

                    <img src="/assets/images/sitelogo.png" alt="escapar.org">

                </a>

                <a class="navbar-item is-hidden-desktop" href="https://weibo.com/rageandlove" target="_blank">
                    <span class="icon" style="color: #ffffff;">
                        <i class="icon-weibo"></i>
                    </span>
                </a>
                <a class="navbar-item is-hidden-desktop" href="https://twitter.com/escapar2000" target="_blank">
                    <span class="icon" style="color: #ffffff;">
                        <i class="icon-twitter"></i>
                    </span>
                </a>
                <a class="popover__wrapper navbar-item is-hidden-desktop" href="#">
                    <span class="icon" style="color: #ffffff;">
                        <i class="icon-wechat"></i>
                    </span>
                    <div class="push popover__content has-text-centered">
                        <img src="/assets/images/social/qrcode.png"/>
                        <small>公众号</small>
                    </div>
                </a>
                <div class="navbar-burger burger" data-target="navMenuColorinfo-example">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>

            <div id="navMenuColorinfo-example" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        Home
                    </a>
                    <a th:each="c : ${menuCategories}" class="navbar-item" th:text="${c.name}" th:href="${'/category/'+c.alias}">
                        NavItem Name
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link"  >
                            Links
                        </a>
                        <div class="navbar-dropdown">
                            <a class="navbar-item" href="https://escapar.org">
                                escapar.org
                            </a>
                        </div>
                    </div>
                </div>

                <div class="navbar-end is-hidden-mobile is-hidden-touch">
                            <a class="navbar-item " href="https://weibo.com/rageandlove" target="_blank">
                                <span class="icon" style="color: #ffffff;">
                                    <i class="icon-weibo"></i>
                                </span>
                            </a>
                            <a class="navbar-item " href="https://twitter.com/escapar2000" target="_blank">
                                <span class="icon" style="color: #ffffff;">
                                    <i class="icon-twitter"></i>
                                </span>
                            </a>
                                <a class="popover__wrapper navbar-item" href="#">
                                    <span class="icon" style="color: #ffffff;">
                                        <i class="icon-wechat"></i>
                                    </span>
                                    <div class="push popover__content has-text-centered">
                                        <img src="/assets/images/social/qrcode.png"/>
                                        <small>公众号</small>
                                    </div>
                                </a>
                            </div>
                        </div>
            </div>
        </nav>
    </nav>
</html>
